body{
    background-image:url(background_cadastro.jpg);
    overflow:hidden;
}
#div_principal{
    position:relative;
    transform:translate(560px,200px);
    width:500px;
    height:540px;
    background:rgba(0,0,0,0.5) ;
}
#div_principal input[type="text"]{
border:none;
border-bottom:solid#FFF;
outline:none;
display:block;
width:300px;
margin:36px;
position:absolute;
top:0px;
left:-35px;
background:transparent;
color:#FFF;
font-size:15px;
padding:4px;
}
#div_principal input[type="password"]{
border:none;
border-bottom:solid#FFF;
outline:none;
display:block;
background:transparent;
width:300px;
margin:36px;
position:absolute;
top:0px;
left:-35px;
color:#FFF;
font-size:15px;
padding:4px;


}
#div_principal input[type="submit"]{
    position:absolute;
    width:120px;
    height:40px;
    background-color:#fa3706;
    color:#fff;
    border-radius:5px;
    top:100px;
    left:110px;
 }
#email{
   
    width:60px;
    height:50px;
    position:absolute;
    top:250px;
    left:90px;
    color:#FFF;
    font-size:20px;
    

    
}
#senha{
    
    width:60px;
    height:50px;
    position:absolute;
   top:100px;
   color:#FFF;
   font-size:20px;
}
#esqueceu_senha{
    position:absolute;
    width:140px;
    top:70px;
    left:3px;
    color:#fa3706;
    font-size:16px;
}
#imagem{
    position:absolute;
    top:-330px;
   left:40px;
   
}
#novo{
    position:absolute;
 color:gray;
    font-size:15px;
    width:300px;
    height:30px;
    transform:translate(29px,110px);
}
#novo a{
    text-decoration:none;
    color:#fa3706;
}
#personagem{
    position:absolute;
    top:-250px;
    left:40px;
}
#vt{
    position:absolute;
    transform:translate(-70px,-350px);
}