body{
color:#000;
background-image:url(background.jpg);
background-repeat:no-repeat;
}

#label_01{
font-size:20px;
color:#FFFAFA;
}
#label_02{
font-size:20px;
color:#FFFAFA;
}
#label_03{
font-size:20px;
color:#FFFAFA;
}
#label_04{
font-size:20px;
color:#FFFAFA;
}
#label_05{
font-size:20px;
color:#FFFAFA;
}
#label_06{
font-size:20px;
color:#FFFAFA;
}
#label_07{
font-size:20px;
color:#FFFAFA;
}
#label_08{
font-size:20px;
color:#FFFAFA;
}
#input_01{
position:relative;
border-radius:6px;
border:none;
border-bottom:1px solid#FFFAFA;
outline:none;
width:330px;
background:transparent;
color:#FFFAFA;
font-size:20px;
}

#input_01:hover{
position:absolute;
left:62px;
}

#input_02{
position:relative;
border:none;
border-bottom:1px solid#000;
outline:none;
border-radius:6px;
background:transparent;
color:#FFFAFA;
font-size:20px;
}
#input_02:hover{
position:absolute;
left:170px;
}
#input_03{
position:relative;
border:none;
border-bottom:1px solid#FFFAFA;
outline:none;
border-radius:6px;
background:transparent;
color:#FFFAFA;
font-size:20px;
}


#input_04{
position:relative;
border:none;
border-bottom:1px solid#FFFAFA;
outline:none;
border-radius:6px;
background:transparent;
color:#FFFAFA;
font-size:20px;
width:60px;
}
#input_05{
position:relative;
border:none;
border-bottom:1px solid#FFFAFA;
outline:none;
border-radius:6px;
background:transparent;
color:#FFFAFA;
font-size:20px;
}
#input_05:hover{
position:absolute;
left:620px;
}
#select_01{
position:relative;
border:none;
border-bottom:1px solid#FFFAFA;
outline:none;
border-radius:6px;
background:transparent;
font-size:20px;

}

#select_02{
position:relative;
border:none;
border-bottom:1px solid#FFFAFA;
outline:none;
border-radius:6px;
background:transparent;

}
#select_02:hover{
position:absolute;
left:340px;
}
#input_06{
position:relative;
border:none;
border-bottom:1px solid#FFFAFA;
outline:none;
border-radius:6px;
background:transparent;
color:#FFFAFA;
font-size:20px;

}
#input_06:hover{
position:absolute;
left:40px;
}

#div_01 h2{
color:#000;
position:absolute;
top:250px;
left:650px;
font-size:34px;
}
#div_02{
position:absolute;
top:360px;
left:380px;

}
#principal{
position:relative;
border:solid red;
width:1000px;
height:730px;
transform:translate(340px,250px);
border-radius:10px;
}
#input_enviar{

position:relative;
left:1050px;
border-radius:4px;
height:40px;
width:100px;
background-color:orange;
font-size:15px;
}
#input_enviar:hover{
position:absolute;
zoom:100%;
font-size:20px;
left:1060px;
height:45px;
width:120px;
}